.navbar {
    position: sticky;
    font-family: Aileron;
    z-index: 9999;
    background-color: white;
    /*background-image: url('./img/');*/
    top : 0;
    left: 0;
    overflow: hidden;
    padding-top: 4.5vh;

    /*line-height: 3vh;*/
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 9vh;
    box-shadow: 0 2px 5px rgba(30,30,30,0.6);
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar li {
    margin-left: 4%;
    display: inline-block;
    align-self: center;
    font-size: 1.2rem;
    height: fit-content;
  }
  
  .navbar a {
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: rgb(36, 199, 21);
  }
  
  .navbar .link_1 {
    margin-right: 25%;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(230, 162, 38);
    
  }

  .navbar :not(.link_1) {
    font-size: 1.25rem;
    color: rgb(61, 20, 29);
    padding-left: 2%;
  }